button {
    /* btns　を複数で使用することがある為 
     * - margin 操作しない。
     * - 親要素で　justify/align の効果がなくなる為
     */
    display: flex;
    justify-content: center;
    width: 240px;
    /* max-width: 250px; */
    /* height: 60px; */
    /* marginを付けないとheightを指定しないといけない。親boxに対して高さが出てしまう..? |webadvance
     * 基本 centering | daiei
     */
    margin: 0 auto;
    /* マージン付けると justify の効果がなくなる 親ボックスで */
    /* margin-right:0;などで右寄せ左寄せ */
    padding: 0;
    border: none;
    background-color: rgb(223, 223, 223);
    font-weight: bold;
    border-radius: 50px;
    overflow: hidden;
}

button a {
    font-size: 15px;
    color: rgb(58, 58, 58);
    display: flex;
    align-items: baseline;
    padding: 17px 1.2rem;
    width: 100%;
    position: relative;
    z-index: 2;
}

button a img {
    width: 20px;
}

button a .img-wrap {
    width: 20px;
}

/* むしろ a の直下に contents wrap が必要かも。 
 * - 文字/img
*/
button a .wrap {
    width: 80%;
}

/* 装飾は必ず親属性に名前を付ける
 * 常に 擬似要素 を付けなくてok だから。
 */
button.cover a:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 120px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}

button.cover:hover a:after {
    transform: translate(-50%, -50%) scale(5.1, 5.1);
}

button.cover:hover {
    background-color: transparent;
}

button.cover:hover a {
    color: white;
}

button span {
    display: block;
    width: 10px;
    height: 10px;
}

button .crcle {
    border-radius: 50%;
    margin-right: .5rem;
}

button .arr-right {
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}


/* ２つの場合 */
.btn-area,
.btn-wrap,
.btn-box {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    flex-wrap: wrap;
    gap: 20px 0px;
}

.btn-area button,
.btn-wrap button,
.btn-box button {
    margin: 0;
    width: 40%;
    /* ２つの場合 40% */
}

@media screen and (max-width: 640px) {
    button {
        max-width: 100%;
        width: 70%;
        /* border: solid; */
    }

    .btn-area,
    .btn-wrap,
    .btn-box {
        display: block;
        padding: 5px 0;
    }

    .btn-area button,
    .btn-wrap button,
    .btn-box button {
        max-width: 75%;
        width: 100%;
        margin: 15px auto;
    }

    /* each placed button */
    body.top main section.plan button {
        margin: 50px auto;
    }
}