table {
    margin: 0 auto;
}

table.bb tbody tr {
    border-bottom: 1px solid var(--table-border-c);
}

table tbody tr {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

table tbody tr th {
    padding: 15px 10px;
}

table tbody tr td {
    align-content: center;
}

/* 
お問い合わせ　テンプレートから　作成していく。

<table class="b">
<tbody>
    <tr>
        <th>お名前</th>
        <td>入力内容が入ります</td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td>入力内容が入ります</td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td>入力内容が入ります</td>
    </tr>
    <tr>
        <th>住所</th>
        <td>入力内容が入ります </td>
    </tr>
    <tr>
        <th>個人／法人</th>
        <td>入力内容が入ります</td>
    </tr>
    <tr>
        <th>お問い合わせ種類</th>
        <td>入力内容が入ります</td>
    </tr>
    <tr>
        <th>お問い合わせ内容詳細</th>
        <td>入力内容が入ります</td>
    </tr>
</tbody>
</table> */