/*
 * Page: feature: detail steps 
 */
body#feature main .flow .wrap .step .img-box {
    width: 53%;
}

body#feature main .flow .wrap .step:nth-child(even) .desc-box {
    padding-left: 2rem;
}

body#feature main .flow .wrap .step:nth-child(odd) .desc-box {
    padding-right: 2rem;
}

body#feature main .flow .wrap .step .desc-box .disc .ja {
    font-size: 25px;
}

body#feature main .flow .wrap .step .desc-box .title {
    text-align: left;
    width: 19%;
}

body#feature main .flow .wrap .step .desc-box .title div:first-child {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;
    color: var(--txt-c);
}

body#feature main .flow .wrap .step .desc-box .disc p {
    line-height: 1.7;
}