/* original */
@media screen and (max-width: 640px) {
    header {
        border-bottom: 1px solid rgb(139 139 139);
    }

    .top header .img-wrap {
        width: 93vw;
        transform: translate(-51%, -70%);
    }

    header .img-wrap img.mv {
        width: 100%;
        position: unset;
        transform: unset;
    }

    body#top header .scroll-navigation {
        padding: 0;
        width: 150px;
        left: -54px;
    }



    /* main body */
    .top main section.first .wrap {
        padding: 90px 0 30px;
    }

    .top main section.first .title {
        max-width: 95vw;
        margin: 0 auto;
    }

    .top main section.first .content img {
        min-width: 1900px;
    }


    .top main section.about .wrap {
        color: var(--txt-c);
    }

    .top main section.about .wrap div:first-child.col2 {
        display: block;
        margin: 0 30px;
        padding: 0 5px 20px;
        color: var(--txt-c);
        border-bottom: 2px solid #b3b3b3;
    }

    .top main section.about .wrap div:first-child.col2 .l-area,
    .top main section.about .wrap div:first-child.col2 .r-area {
        width: 100%;
    }

    .top main section.about .wrap .col2 .l-area .title {
        text-align: center;
    }

    .top main section.about .wrap .col2 .l-area .title .en {
        margin-bottom: 0;
    }

    .top main section.about .wrap .col2 .l-area .title .border {
        margin: 0 auto;
    }

    .top main section.about .wrap div:first-child.col2 .l-area {
        padding-bottom: 20px;
    }

    .top main section.about .wrap .col2 .l-area .content .discription {
        font-size: 22px;
        padding: 25px 0 20px;
    }

    .top main section.about .wrap .col2 .l-area .content p:last-child {
        font-size: 16px;
    }

    .top main section.about .wrap .wrap-kadai {
        margin: 0 auto;
        width: 92vw;
        /* border: 1px solid; */
    }

    .top main section.about .wrap .wrap-kadai h2 {
        font-size: 20px;
        margin: 50px 0 30px;
    }

    .top main section.about .wrap .wrap-kadai h2 .left-b,
    .top main section.about .wrap .wrap-kadai h2 .right-b {
        width: 30px;
    }

    .top main section.about .wrap .wrap-kadai ul.kadai-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 10px;
        font-weight: bold;
    }

    .top main section.about .wrap .our-feature-box {
        display: block;
        width: 93vw;
        padding: 15px 16px;
    }

    .top main section.about .wrap .our-feature-box .title {
        width: 100%;
        border-bottom: 2px dashed var(--green-smork);
        border-right: unset;
        padding-bottom: 11px;
    }

    .top main section.about .wrap .our-feature-box .title .ja {
        text-align: center;
        padding: 19px 15px 12px;
        font-size: 29px;
        color: #333333;
        letter-spacing: -1px;
    }

    .top main section.about .wrap .our-feature-box .detail {
        padding: 15px;
        font-weight: bold;
    }

    .top main section.about .wrap .col3-area {
        display: block;
        width: 90vw;
        margin: 0 auto;
        box-shadow: unset;
    }

    .top main section.about .wrap .col3-area .point {
        border-right: unset;
        border-bottom: 2px solid #d1d1d1;
        padding: 10px 20px;
        width: 100%;
    }

    .top main section.about .wrap .aboutus-contact-area {
        max-width: 90vw;
    }

    .top main section.about .wrap .aboutus-contact-area>p {
        font-size: 19px;
        margin: 15px auto 7px;
    }

    .top main section.service .wrap>.contents {
        display: block;
    }

    .top main section.service .wrap .contents .left,
    .top main section.service .wrap .contents .right {
        width: 100%;
    }

    .top main section.service .wrap .contents .left .img-wrap {
        position: unset !important;
        width: 100% !important;
    }

    .top main section.service .wrap .contents .left .img-wrap img {
        position: unset;
        max-width: 100%;
    }

    .top main section.service .wrap .title .border {
        width: 150px;
    }

    .top main section.service .wrap .title .en {
        padding-top: 7px;
    }

    .top main section.service .wrap .contents .right {
        width: 90vw;
        margin: 0 auto;
    }

    .top main section.service .contents .right .box {
        padding: 2rem 20px;
    }

    .top main section.service .contents .right .box,
    .top main section.service .contents .right .box .title .ja {
        color: var(--txt-c);
    }

    .top main section.service .contents .right .box .wrap img {
        top: -47px;
        right: 7px;
        width: 150px;
    }

    .top main section.service>.wrap {
        padding-bottom: 50px;
    }

    .top main section.service .contents .right .box:last-child,
    .top main section.service .contents .right .box:nth-child(5) {
        margin-bottom: 25px !important;
    }

    .top main section.works>.wrap,
    .top main section.voices>.wrap {
        display: block;
    }

    .top main section.works .wrap .l-area,
    .top main section.works .wrap .r-area,
    .top main section.voices .wrap .l-area,
    .top main section.voices .wrap .r-area {
        width: 100%;
        margin: 0 auto;
        justify-items: center;
    }

    .top main section.works .wrap .l-area .title,
    .top main section.voices .wrap .l-area .title {
        justify-items: center;
    }

    .top main section.works .wrap .l-area,
    .top main section.voices .wrap .l-area {
        padding-bottom: 40px;
    }
}