/* @import "https://ka2yuki.github.io/css/base.css";
@import url('https://ka2yuki.github.io/css/style.css');
@import url('https://ka2yuki.github.io/css/fonts.css');
@import url('https://ka2yuki.github.io/css/buttons.css');
@import url('https://ka2yuki.github.io/css/animations.css');
@import url('https://ka2yuki.github.io/css/components/news-inheader.css'); */

:root {
    --green-smork: #5e8778;
    --txt-c: #56534c;
    --max-width: 1100px;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    --green-smork: #88b3a3;
    --txt-c: #56534c;
    --max-width: 1080px;
    --column-max-width: 1080px;
    --light-gray: #e1e1e1;
}

/* origin width */
section button {
    width: 300px;
}

button a:after {
    transition-duration: .25s;
}

/* 
 * 文字の色
 */
body#flow main .flow-details .wrap .step .desc-box,
body#feature main .flow .wrap .step .desc-box,
body#feature main .flow .wrap .step .img-box {
    color: var(--txt-c);
}

.bgg-gray {
    background-color: #f6f7f6 !important;
}


body#feature,
body#flow {
    position: relative;
}


/*
 * ぱんくず: Page: feature/flow
 */
body main .breadcrumbs {
    /* background-color: whitesmoke; */
    width: 100%;
    font-size: 13px;
}

body main .breadcrumbs .wrap {
    max-width: var(--max-width);
    padding: 10px 0;
}

body main .breadcrumbs span {
    padding: 0 .5rem;
    color: var(--txt-c);
}


/*
 * 下層ページのHeader: 
 *  feature/flow/faq
 */
body#plan header,
body#faq header,
body#feature header,
body#flow header {
    height: 45vh;
}

body header nav {
    background: #ffffff61;
}

body#plan header nav .wrap,
body#faq header nav .wrap,
body#top header nav .wrap,
body#feature header nav .wrap,
body#flow header nav .wrap {
    /* max-width: 1500px; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: .2rem 0;
    padding-left: 30px;
}

body#plan header>.wrap .contents-wrap,
body#feature header>.wrap .contents-wrap,
body#faq header>.wrap .contents-wrap,
body#flow header>.wrap .contents-wrap {
    position: absolute;
    left: 0;
    bottom: 25%;
}

body#top header nav .logo-wrap {
    transform: scale(0, 0);
}

body#plan header nav .logo-wrap,
body#faq header nav .logo-wrap,
body#top header nav .logo-wrap,
body#feature header nav .logo-wrap,
body#flow header nav .logo-wrap {
    width: 200px;
    /* transform: scale(0, 0); */
    transition: transform ease .3s;
}

body#plan header nav .logo-wrap.fade-in,
body#faq header nav .logo-wrap.fade-in,
body#top header nav .logo-wrap.fade-in,
body#feature header nav .logo-wrap.fade-in,
body#flow header nav .logo-wrap.fade-in {
    transform: scale(1, 1);
}

body#plan header>.wrap,
body#faq header>.wrap,
body#feature header>.wrap,
body#flow header>.wrap {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body#plan header>.wrap .ja,
body#faq header>.wrap .ja,
body#feature header>.wrap .ja,
body#flow header>.wrap .ja {
    font-size: 1rem;
    font-weight: bold;
    color: #464646;
}

body#plan header>.wrap .en,
body#faq header>.wrap .en,
body#faq header>.wrap .en,
body#feature header>.wrap .en,
body#flow header>.wrap .en {
    font-size: 5rem;
    margin: 0;
    color: #2a2a2a;
    line-height: 1;
}


/*
 *  <main> area 
 */
body.top main section.about>.wrap {
    /* max-width: 1000px; */
}

body.top main section.service>.wrap {
    /* max-width: 1200px; */
}

body.top main section.plan>.wrap {
    max-width: 1050px;
}

body.feature main .flow .wrap,
body.flow main .flow-overviews .wrap {
    max-width: 1100px;
}

main section .shadow {
    box-shadow: 5px 5px 5px rgb(202, 202, 202);
}

main section .title .discription {
    font-size: 1.5rem;
}

main section .wrap-title h2 .left-b {
    transform: rotate(45deg);
}

main section .wrap-title h2 .right-b {
    transform: rotate(135deg);
}

main section .wrap-title h2 .left-b,
main section .wrap-title h2 .right-b {
    display: block;
    height: 1px;
    background-color: red;
    width: 40px;
}


body main section .wrap .col2 {
    display: flex;
}

body#feature main .flow .wrap .step,
body#flow main .flow-details .wrap .step,
body#flow main .flow-overviews .wrap .step {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

/* Swiper */
.works .swiper .swiper-slide {
    border-bottom: 1px solid #d7d9d9;
}

/*
 * Box-size: width; 
 * - feature/flow
 */
body#feature main .flow .wrap .step .disc-box,
body#flow main .flow-overviews .wrap .step .disc-box {
    width: 47%;
}


body#flow main .flow-details .wrap .step .desc-box .title img,
body#feature main .flow .wrap .step .desc-box .title img {
    margin: 1.5rem 0 0;
}


body main hr.separate-border {
    border: 1px solid #D0D0D0;
    margin: 0;
}


/*
 * first section no name
 */
main section.first .wrap {
    max-width: 790px;
}

body#top main section.first .content {
    display: flex;
    background: url("../images/top/support-bg.png") bottom repeat-x;
    background-color: #f3f7f8;
}

/*
 * about
 */
main section.about .wrap .col2 {
    display: flex;
    padding: 8rem 0;
    margin: 0 auto;
}

main section.about .wrap .col2 .r-area,
main section.about .wrap .col2 .l-area {
    width: 50%;
}

main section.about .wrap .col2 .l-area .title {
    text-align: left;
}

main section.about .wrap .col2 .l-area .title .border {
    margin: 0;
    width: 100px;
}

main section.about .wrap .col2 .l-area .content p {
    line-height: 2;
}

main section.about .wrap .col2 .l-area .content .discription {
    font-size: 2rem;
    line-height: 1.5;
}

main section.about .wrap .wrap-kadai {
    width: 80%;
    margin: 0 auto;
}

main section.about .wrap .wrap-kadai h2 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-bottom: 3rem;
}

main section.about .wrap .wrap-kadai h2 .left-b,
main section.about .wrap .wrap-kadai h2 .right-b {
    display: block;
    height: 1px;
    background-color: red;
    width: 40px;
}

main section.about .wrap .wrap-kadai h2 .left-b {
    transform: rotate(45deg);
}

main section.about .wrap .wrap-kadai h2 .right-b {
    transform: rotate(135deg);
}

main section.about .wrap .wrap-kadai ul.kadai-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 3rem;
}

main section.about .wrap .wrap-kadai .kadai-list li {
    border-bottom: 2px dashed #d5d7d5;
    padding-bottom: .5rem;
    display: flex;
}

main section.about .wrap .wrap-kadai .kadai-list li img {
    width: 22px;
    margin-right: 5px;
    margin-top: -1px;
}

main section.about .wrap .our-feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 5rem;
    box-shadow: 4px 4px #dbdbdb;
    border-radius: 15px;
    max-width: 1200px;
    padding: 2rem 1rem;
    background-color: #F3F7F8;
}

main section.about .wrap .our-feature-box .title {
    border-right: 2px dashed var(--green-smork);
    width: 40%;
    text-align: left;
}

main section.about .wrap .our-feature-box .title .en {
    font-size: 1rem;
    color: var(--green-smork);
    letter-spacing: 1px;
    margin-bottom: 0px;
}

main section.about .wrap .our-feature-box .title .ja {
    font-size: 2rem;
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
}

main section.about .wrap .our-feature-box .detail {
    padding: 1rem 0 1rem 2rem;
    font-size: 1rem;
    line-height: 1.9;
}

main section.about .wrap .col3-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 0;
    box-shadow: 2px 3px 1px #dbdbdb;
}

main section.about .wrap .col3-area .point {
    border-right: 1.5px solid #d1d1d1;
    padding: 1rem;
}

main section.about .wrap .col3-area .point .title {
    width: 20%;
}

main section.about .wrap .col3-area .point p {
    font-size: 1.3rem;
    margin: 0;
    color: var(--txt-c);
}

main section.about .wrap .col3-area .point:last-child {
    border-right: none;
}

main section.about .wrap .col3-area img:first-child {
    width: 100%;
}

main section.about .wrap .col3-area img:last-child {
    width: fit-content;
}

main section.about .wrap .aboutus-contact-area {
    max-width: 700px;
    margin: 3rem auto;
}

main section.about .wrap .aboutus-contact-area p {
    text-align: center;
    font-size: 1.5rem;
}

main section.service>.wrap .contents .left .img-wrap {
    transition: all 2s;
}

main section.service>.wrap .contents .left .img-wrap.fixed {
    position: fixed;
    top: 100px;
    left: 12%;
    width: 50%;
    z-index: -1;
}

/*
 *  sapppro & area
 */
main section.sapppro .wrap .title,
main section.area .wrap .title {
    text-align: left;
}

/*
 * Title: eng
 */
main section.service .wrap .title .en {
    line-height: 1;
    margin: 0 auto 0;
}

main section.plan .wrap .title .en {
    line-height: 1;
    margin: 7px auto 4px;
}

/*
 * Border:
 *  Transform: center 
 *  service & plan
 */
main section.service .wrap .title .border,
main section.plan .wrap .title .border {
    margin: 0 auto;
}

main section.plan .wrap .title .border {
    width: 11%;
    margin-top: .2rem;
}

main section .wrap .title .border {
    width: 110px;
}

main section.plan .wrap button {
    margin: 50px auto 20px;
}

/*
 * column は共通
 */
main section.column {
    background-image: url("../images/top/bg-column.png");
    background-size: cover;
    background-repeat: no-repeat;
}

main section.column .wrap {
    max-width: var(--column-max-width);
}

main section.column>.wrap {
    display: flex;
    justify-content: center;
}

main section.column .wrap .l-area {
    width: 60%;
    padding: 40px;
}

main section.column .wrap .r-area {
    width: 40%;
}

main section.column .wrap .l-area .title {
    display: flex;
    align-items: start;
    flex-direction: column;
}

main section.column .wrap .l-area .title .border {
    margin: 0;
    width: 120px;
}

main section.column .wrap .l-area .content {
    font-size: .9rem;
    padding-top: 1.5rem;
}

main section.column .wrap .l-area .content .discription {
    line-height: 2;
}

main section.column .wrap .l-area .content .img-wrap {
    width: 300px;
    margin: 20px;
}


/*
 * contact　は共通
 */
main section.contact {
    background-color: transparent;
}

main section.contact .wrap {
    max-width: 1200px;
    padding: 7rem 0;
}

main section.contact .wrap .title .discription {
    font-size: 1.2rem;
}

main section.contact .wrap .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

main section.contact .wrap .content .tell {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
}

main section.contact .wrap .content .tell span {
    font-size: .9rem;
    font-weight: normal;
}

main section.contact .wrap .content button {
    width: 230px;
    height: 55px;
}


/*
 * footer 
 */
footer {
    background: linear-gradient(180deg, #00a0e1, #024b81);
}

footer img.footer-img {
    background-color: white;
}

footer .wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0 3.5rem;
}

footer .wrap .logo-disc-area {
    display: flex;
    border-bottom: 1px solid #d7d6d6;
    padding-bottom: 35px;
}

footer .wrap .logo-disc-area .img-wrap {
    width: 39%;
}

footer .wrap .logo-disc-area .discription {
    width: 60%;
    color: white;
    padding: 1rem 0 1rem 3rem;
    font-size: .9rem;
    letter-spacing: -1px;
}

footer .wrap .logo-disc-area .img-wrap {
    display: flex;
    justify-content: center;
}

footer .wrap .logo-disc-area .img-wrap img {
    width: 65%;
}

footer .wrap .logo-disc-area .discription {
    border-left: 1px solid white;
}

footer .wrap .footer-menu {
    display: flex;
    justify-content: center;
    color: white;
    padding: 3rem 0;
    border-bottom: 1px solid #d7d6d6;
}

footer .wrap .footer-menu ul {
    margin-left: 2rem;
}

footer .wrap .footer-menu ul li {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

footer .wrap .footer-menu ul li img {
    width: 15px;
    margin-right: 5px;
}

footer .wrap .footer-menu .service li:not(:first-child),
footer .wrap .footer-menu ul:last-child li:last-child {
    font-size: .9rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
}

footer .wrap .footer-menu ul:last-child li:last-child {
    padding-left: 0;
}

footer .wrap .copyright {
    text-align: end;
    color: white;
    margin: 1.5rem 7rem 0 auto;
    font-size: .9rem;
}