* {
      box-sizing: border-box;
}

html,
body {
}

a {
  text-decoration: none;
}

ul {
  /* margin: 0; */
  padding-left: 1.5rem;
  display: flex;
}

li {
  list-style: none;
}

main {
  padding: 0;
  margin: 0 auto;
  width: 70%;
  /* border: 1px solid #607D8B; */
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

header nav ul li a {
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px gainsboro;
}

header nav ul li a:hover {
  opacity: .9;
  border: dashed darkcyan;
}