html {
  --main-color: rgb(15 23 42);
}

a {
  text-decoration: none;
  display: block;
  color: #334155;
}

a:hover {
  color: #cbd5e1;
}

ul li {
  list-style: none;
}

header nav {
  width: 100vw;
}

header nav ul {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

header nav ul li a {
  display: block;
  padding: 1rem 2rem;
}

main ul {
  display: flex;
}

main ul li a {
  padding: 3px 0;
}

main ul li a:before {
  padding-right: 5px;
}


main ul li a:hover {}




html {
  scrollbar-color: #ccfbf1 #99f6e4;
  scrollbar-width: thin;
  overflow: visible;
}

body {
  margin: 0 auto;
  /* Not add width to body
  - 最大幅を個別にそれ以上広げれなく。
  - ex: 流れるnewsなど
   */
  background-color: var(--main-color);
}

/* body::before {
  content: "";
  background-image: url("assets/images/bg-new..png");
  filter: blur(7px);
} */

a {
  text-decoration: none;
  color: rgb(226 232 240);
}

ul {
  /* margin: 0; */
  padding-left: 1.5rem;
  display: flex;
}

li {
  list-style-type: circle;
}

/* head line news */
header {
  /* border: #99f6e4 solid; */
  font-size: 14px;
  width: 90%;
  margin: .5rem auto;
}

header ul {
  /* border: black solid 1px; */
  padding: 0;
  margin: 0;
}

header ul li {
  /* border: saddlebrown solid 1px; */
  padding: 0;
  display: flex;
  align-items: center;
}

/* ▲ head line news */

header nav ul li a {
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

header nav ul li a:hover {
  opacity: .9;
  border: 1px dashed darkcyan;
}

main {
  padding: 0;
  margin: 0 auto;
  width: 97%;
  max-width: 1000px;
  /* border: 5px solid #607D8B; */
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
}

caption {
  /* caption-side: bottom; */
  padding: 10px;
  font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

table tr td ul {
  display: flex;
  flex-direction: column;
}

table tr td ul li {
  /* list-style: decimal; */
}

/* START attached CLASS NAME */
li span.tag {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0 220 130);
  /* border-color: sandybrown; */
  border-radius: 10px;
  font-size: .7rem;
  padding: .2rem .5rem;
  margin-right: .5rem;
}

.qp_bmc {
  width: 150px;
  position: fixed;
  bottom: 0;
  left: 2px;
}


@media screen and (max-width: 540px) {
  body {
    border: 1px solid rgb(183 183 183 / 65%);
    margin: 10px !important;
    border-radius: 10px;
  }

}