* {
  box-sizing: border-box;
}

html {
  scrollbar-color: #ccfbf1 #99f6e4;
  scrollbar-width: thin;
  overflow: visible;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 97%;
}

a {
  text-decoration: none;
}

ul {
  /* margin: 0; */
  padding-left: 1.5rem;
  display: flex;
}

li {
  list-style: none;
}

header nav ul li a {
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px gainsboro;
}

header nav ul li a:hover {
  opacity: .9;
  border: dashed darkcyan;
}

main {
  padding: 0;
  margin: 0 auto;
  /* width: 97%; */
  /* border: 5px solid #607D8B; */
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

table tr td ul {
  display: flex;
  flex-direction: column;
}
table tr td ul li {
  list-style: decimal;
}
