/*
 * created by https://ka2yuki.github.io
 * 2025.01.30 
 */

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    --green-smork: #88b3a3;
    --txt-c: #56534c;
    --max-width: 1200px;
    --column-max-width: 1080px;
    --light-gray: #e1e1e1;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.img-shadow {
    box-shadow: 0px 3px 1px rgb(202, 202, 202);
}

/* Header */
header .header-wrap {
    max-width: var(--max-width);
    position: relative;
    height: 100vh;
    margin: 0 auto;
}

/*
 * 共通css: Header Nav
 */
header nav {
    position: fixed !important;
    width: 100%;
    transition: background-color 1s;
    z-index: 999;
}

header nav.scrolled-mv {
    background-color: #ddd !important;
}

header nav ul {
    width: fit-content;
    display: flex;
    margin-left: auto;
    padding: 1.2rem 3.5rem;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li:last-child {
    background-color: #fbbf24;
    border-radius: 50px;
}

header nav ul li a {
    padding: .5rem 1rem;
    font-size: .9rem;
    display: block;
    color: var(--txt-c);
    font-weight: bold;
}

header nav ul li a:last-child {
    padding: .5rem 1.5rem;
    color: #1A1A1A;
}

header nav li.submenu {
    position: relative;
}

header nav li.submenu>ul {
    display: none;
}

header nav li.submenu:hover>ul {
    display: block;
}

header nav li.submenu:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38px;
    left: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
}

header nav li.submenu:hover ul li a {
    padding: .5rem 1.2rem;
    width: 100%;
}

header nav li.submenu:hover ul li a:hover {
    opacity: .7;
}

header nav li.submenu:hover ul li:last-child {
    background-color: transparent !important;
}

/* Border in nav of header */
header nav ul li a .border {
    display: block;
    width: 0;
    height: 1px;
    border-bottom: 1px solid #000;
    transition: all .5s;
}

header nav ul li a:hover .border {
    width: 100%;
}



/*
 *  News in header
 */
body#top header .news {
    min-width: 700px;
    padding: .5rem;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 5px rgb(160, 161, 160);
    font-size: .9rem;
    background-color: white;
}

body#top header .news ul {
    padding: 0;
}

body#top header .news ul li {
    display: flex;
    align-items: center;
}

header .news .tag,
header .news .txt {
    color: rgb(56, 56, 56);
}

header .news .tag {
    font-size: 1.2em;
    font-weight: bold;
}

header .news .txt {
    font-weight: bold;
}

header .news .date {}

header .news .cat {
    color: brown;
}

header .news ul li span {
    margin-left: .5rem;
}

body#top header .news ul li img.arr {
    width: 15px;
    margin: 0 1rem 0 auto;
}

header {
    overflow: hidden;
    height: 100vh;
}

header nav {}

header img.mv {
    position: absolute;
    width: 50%;
    max-width: 650px;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

body#top header .wrap {
    /* position: relative;
    max-width: 1200px;
    height: 95vh;
    margin: 0 auto; */
}

body#feature,
body#flow {
    position: relative;
}

/*
 * 動画 
 */
body header .video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

body#top header .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
 * ぱんくず: Page: feature/flow
 */
body main .breadcrumbs {
    background-color: whitesmoke;
    width: 100%;
}

body main .breadcrumbs .wrap {
    max-width: var(--max-width);
    padding: 10px 0;
}

body main .breadcrumbs span {
    padding: 0 .5rem;
    color: var(--txt-c);
}

body#flow main section {
    background-color: #F3F7F8;
}

/*
 * Header: 
 *  feature/flow/faq
 */
body#plan header,
body#faq header,
body#feature header,
body#flow header {
    background: radial-gradient(circle at 50% 115%, var(--g-start), var(--g-end));
    height: 45vh;
}

body#plan header nav,
body#faq header nav,
body#feature header nav,
body#flow header nav {
    position: absolute;
    background: #ffffff61;
    right: 0;
    width: 100%;
    border-bottom: 2px solid rgb(226, 226, 226);
}

body#plan header nav .wrap,
body#faq header nav .wrap,
body#top header nav .wrap,
body#feature header nav .wrap,
body#flow header nav .wrap {
    /* max-width: 1500px; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: .2rem 0;
    padding-left: 30px;
}

body#plan header>.wrap .contents-wrap,
body#feature header>.wrap .contents-wrap,
body#faq header>.wrap .contents-wrap,
body#flow header>.wrap .contents-wrap {
    position: absolute;
    left: 0;
    bottom: 25%;
}

body#top header nav .logo-wrap {
    transform: scale(0, 0);
}

body#plan header nav .logo-wrap,
body#faq header nav .logo-wrap,
body#top header nav .logo-wrap,
body#feature header nav .logo-wrap,
body#flow header nav .logo-wrap {
    width: 200px;
    /* transform: scale(0, 0); */
    transition: transform ease .3s;
}

body#plan header nav .logo-wrap.fade-in,
body#faq header nav .logo-wrap.fade-in,
body#top header nav .logo-wrap.fade-in,
body#feature header nav .logo-wrap.fade-in,
body#flow header nav .logo-wrap.fade-in {
    transform: scale(1, 1);
}

body#plan header>.wrap,
body#faq header>.wrap,
body#feature header>.wrap,
body#flow header>.wrap {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body#plan header>.wrap .ja,
body#faq header>.wrap .ja,
body#feature header>.wrap .ja,
body#flow header>.wrap .ja {
    font-size: 1rem;
    font-weight: bold;
    color: #464646;
}

body#plan header>.wrap .en,
body#faq header>.wrap .en,
body#faq header>.wrap .en,
body#feature header>.wrap .en,
body#flow header>.wrap .en {
    font-size: 5rem;
    margin: 0;
    color: #2a2a2a;
    line-height: 1;
}


/*
 * ==============
 *  <main> area 
 * ==============
 */
body main section .wrap .col2 {
    display: flex;
}

body#feature main,
body#flow main {
    width: 100%;
}

body#feature main .flow .wrap,
body#flow main .flow-overviews .wrap {
    max-width: 1100px;
    margin: 0 auto;
}

body#flow main .flow-details .wrap {
    max-width: 1000px;
}


body#top main .column .wrap,
body#feature main .column .wrap,
body#flow main .column .wrap {
    max-width: var(--column-max-width);
}

body#flow main .flow-details .wrap .description {
    margin: 0 auto 2.5rem;
    max-width: 930px;
    color: var(--txt-c);
    line-height: 1.7;
}

body#feature main .flow .wrap .step,
body#flow main .flow-details .wrap .step,
body#flow main .flow-overviews .wrap .step {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

/*
 * Box-size: width; 
 */
body#feature main .flow .wrap .step .disc-box,
body#flow main .flow-overviews .wrap .step .disc-box {
    width: 47%;
}

/*
 * Flow: detail steps 
 */
body#flow main .flow-details .wrap .step .img-box {
    width: 17%;
    padding: 1rem;
}

body#flow main .flow-details .wrap .step .desc-box {
    width: 80%;
}

body#flow main .flow-overviews .wrap .step .img-box {
    width: 35%;
}

body#flow main .flow-overviews .wrap .step .desc-box {
    width: 70%;
    padding: 15px 0 0 4.5rem;
}

body#feature main .flow .wrap .step .img-box {
    width: 53%;
}

body#feature main .flow .wrap .step:nth-child(even) .desc-box {
    padding-left: 2rem;
}

body#feature main .flow .wrap .step:nth-child(odd) .desc-box {
    padding-right: 2rem;
}

body#feature main .flow .wrap .step .desc-box .disc .ja {
    font-size: 25px;
}

/* 
 * 文字の色
 */
body#flow main .flow-details .wrap .step .desc-box,
body#feature main .flow .wrap .step .desc-box,
body#feature main .flow .wrap .step .img-box {
    color: var(--txt-c);
}

body#feature main .flow .wrap .step .desc-box .title {
    text-align: left;
    width: 19%;
}

body#flow main .flow-details .wrap .step .desc-box .title img,
body#feature main .flow .wrap .step .desc-box .title img {
    margin: 1.5rem 0 0;
}

body#feature main .flow .wrap .step .desc-box .title div:first-child {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;
    color: var(--txt-c);
}

body#feature main .flow .wrap .step .desc-box .disc p {
    line-height: 1.7;
}

body#top header .scroll-navigation {
    position: absolute;
    bottom: 7%;
    left: 0%;
    color: rgb(57 56 56);
    border-bottom: 1px solid rgb(109, 109, 109);
    line-height: 1;
    transform: rotate(90deg);
    padding: 0 15% 0 0;
    margin: 0;
}


/*
 * PAGE: Flow 
 */
body#flow main .flow-details .wrap .step-wrap {
    margin-top: 3rem;
}

body#flow main .flow-details .wrap .step-wrap .step {
    border-bottom: 2px solid rgb(223, 223, 223);
    padding: 2rem 2rem 1rem;
    margin: 0;
}

body#flow main .flow-details .wrap .step .desc-box .en {
    font-size: 16px;
    margin: 0px auto 15px;
    color: #5d91e1;
    letter-spacing: 0px;
}

body#flow main .flow-details .wrap .step .desc-box .ja {
    font-size: 25px;
    margin: 0;
}

body#flow main .flow-details .wrap .step .desc-box .title {
    text-align: left;
}

body#flow main .flow-details .wrap .step .img-box {
    display: flex;
    justify-content: center;
    align-items: start;
}

body#flow main .flow-details .wrap .step .desc-box .desc {
    font-size: .9rem;
    line-height: 2;
    letter-spacing: -.5px;
}

body main hr.separate-border {
    border: 1px solid #D0D0D0;
    margin: 0;
}

/*
 * #flow overviews 
 */
body#flow main .flow-overviews .wrap .title {
    text-align: left;
}

body#flow main .flow-overviews .wrap .title .en {
    margin: 5px 0 0;
    line-height: 1;
}

body#flow main .flow-overviews .wrap .step-wrap {
    margin-top: 2rem;
}

body#flow main .flow-overviews .wrap .step-wrap .step {
    border-bottom: 2px solid #8ea191;
    padding: 0 3rem 1rem;
}

body#flow main .flow-overviews .wrap .step-wrap .step:nth-child(4) {
    margin-bottom: 0;
}

/* 途中説明 */
body#flow main .flow-overviews .wrap .step-wrap .totyuusetumei {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

body#flow main .flow-overviews .wrap .step-wrap .totyuusetumei .img-wrap {
    max-width: 110px;
}

body#flow main .flow-overviews .wrap .step-wrap .totyuusetumei p {
    font-size: 25px;
    color: var(--txt-c);
    padding-left: 15px;
}

body#flow main .flow-overviews .wrap .step-wrap .step .desc-box .title {
    display: flex;
    align-items: end;
}

body#flow main .flow-overviews .wrap .step-wrap .step .desc-box .title .step-num-box {
    color: #074099;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
}

body#flow main .flow-overviews .wrap .step-wrap .step .desc-box .title .step-num-box .fs-s {
    font-size: 1rem;
    display: block;
    line-height: 1;
}

body#flow main .flow-overviews .wrap .step-wrap .step .desc-box .title img {
    width: 40px;
}

body#flow main .flow-overviews .wrap .step-wrap .step .desc-box .title h3 {
    font-size: 30px;
    margin: 0 0 0 11px;
    color: var(--txt-c);
}

body#flow main .flow-overviews .wrap .step-wrap .step .desc-box .desc {
    color: var(--txt-c);
    line-height: 2;
    font-size: 14px;
}

/* FQA */
body#faq main .faq-yokuaru {
    color: var(--txt-c);
}

body#faq main .faq-yokuaru .wrap {
    max-width: 950px;
}

body#faq main .faq-yokuaru .wrap .wrap2 {
    margin: 0 2rem;
}

body#faq main .faq-yokuaru .wrap:nth-child(1) {
    padding-bottom: 0;
}

body#faq main .faq-yokuaru .wrap:nth-child(2) {
    padding-top: 0;
}

body#faq main hr.separate-border {
    margin: 3rem auto;
}

body#faq main .faq-yokuaru .wrap .title {
    text-align: left;
}

body#faq main .faq-yokuaru .wrap .title .ja {
    font-size: 27px;
    margin-bottom: 2.5px;
}

body#faq main .faq-yokuaru .wrap .step-wrap {
    margin-top: 2rem;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step {
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    padding: 0;
    margin-bottom: 30px;
}


body#faq main .faq-yokuaru .wrap .step-wrap .step .question,
body#faq main .faq-yokuaru .wrap .step-wrap .step .answer {
    display: flex;
    align-items: center;
    padding: 20px 2rem;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step .question .img-wrap,
body#faq main .faq-yokuaru .wrap .step-wrap .step .answer .img-wrap {
    min-width: 3%;
    margin-right: 9px;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step .answer {
    border-top: 2px solid var(--light-gray);
}

body#faq main .faq-yokuaru .wrap .step-wrap .step:nth-child(3) .answer {
    align-items: start;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step:nth-child(3) .answer ul {
    padding: 20px 30px;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step:nth-child(3) .answer li {
    list-style: disc;
    line-height: 1.7;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step .answer .img-wrap {
    padding-bottom: 15px;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step .question h3 {
    margin: 0;
}

body#faq main .faq-yokuaru .wrap .step-wrap .step .answer p {
    line-height: 1.5;
    margin: 0;
}

/* PLAN */
body#plan main {
    /* background-color: #464646; */
}

body#plan main .main-inner {
    max-width: 1250px;
    margin: 0 auto;
}

body#plan main section .wrap .col2.hajimeni {
    margin: 2.5rem 3rem;
}

body#plan main section .wrap .col2 .l-area {
    width: 45%;
    padding-right: 2rem;
}

body#plan main section .wrap .col2 .r-area {
    max-width: 55%;
}

body#plan main section .wrap .col2 .l-area .title {
    text-align: left;
}

body#plan main section .wrap .col2 .l-area .title h2.sub {
    color: #024b81;
    font-size: 18px;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 4.5px solid #024b81;
}

body#plan main section .wrap .col2 .l-area .title h2.main {
    font-size: 30px;
    margin: 0;
    line-height: 1.3;
}

/*
 * plan.html
 */
main section .wrap-title {
    margin: 0 auto;
}

main section .wrap-title h2 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-bottom: 3rem;
}

main section .wrap-title h2 .left-b {
    transform: rotate(45deg);
}

main section .wrap-title h2 .right-b {
    transform: rotate(135deg);
}

main section .wrap-title h2 .left-b,
main section .wrap-title h2 .right-b {
    display: block;
    height: 1px;
    background-color: red;
    width: 40px;
}

body main .wrap-mokuteki-list {
    margin: 0 auto;
    max-width: 1050px;
}

body main .wrap-mokuteki-list .step {
    display: flex;
    justify-content: center;
    padding: 23px 37px 15px;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 4px 5px 2px rgb(223, 223, 223);
}

body main .wrap-mokuteki-list .step .img-box {
    width: 24%;
}

body main .wrap-mokuteki-list .step .desc-box {
    width: 80%;
    color: var(--txt-c);
    padding: 20px 0 0 37px;
}

body main .wrap-mokuteki-list .step .desc-box .title {
    text-align-last: left;
}

body main .wrap-mokuteki-list .step .desc-box .title .ja {
    font-size: 23px;
}

body main .wrap-mokuteki-list .step .desc-box .desc {
    color: var(--txt-c);
    line-height: 2;
    font-size: 15px;
}

/*
 * section: market price  
 */
main section.market-price .wrap .contents {
    padding: 26px 0;
    margin: 0 50px;
    border-bottom-style: dashed;
}

main section.market-price .wrap .contents h3,
main section.market-price .wrap .contents p {
    margin: 0;
}

main section.market-price .wrap .contents h3 {
    margin-bottom: 20px;
}

main section.market-price .wrap-case-list {
    margin-top: 50px;
    color: var(--txt-c);
    display: flex;
}

main section.market-price .case-list {
    width: 33%;
    text-align: center;
    margin-top: 22px;
}

main section.market-price .case-list .case-title {
    background-color: #fbd79e;
    padding: 8px;
}

main section.market-price .case-list:nth-child(2) .case-title {
    background-color: #7addb0;
}

main section.market-price .case-list:last-child .case-title {
    background-color: #ffc1ca;
}

main section.market-price .case-list .case-title .en {
    color: white;
}

main section.market-price .case-list .case-title .ja {
    font-size: 23px;
}

main section.market-price .case-list .case-contents {
    border-right: 2px solid gainsboro;
}

main section.market-price .case-list:last-child .case-contents {
    border: none;
}

main section.market-price .case-list .case-contents .cell {
    padding: 15px;
}

main section.market-price .case-list .case-contents .cell .label {
    color: var(--green-smork);
    font-size: 15px;
}

main section.market-price .case-list .case-contents .cell:first-child .value {
    font-size: 22px;
}

main section.market-price .case-list .case-contents .cell:nth-child(2) .value {
    color: rgb(199, 199, 31);
}

main section.market-price .case-list .case-contents .cell:nth-child(5) .value {
    font-size: 25px;
}

main section.market-price .case-list .case-contents .cell:last-child .value {
    text-align: left;
    font-size: 14px;
}

body#plan main section.plan {
    background-color: transparent;
}

body#plan main section.point {
    background-color: white;
}

body#plan main section .wrap .title .border {
    margin: 0 auto;
}


/*
 * footer 
 */
footer {
    background: linear-gradient(180deg, #00a0e1, #024b81);
}

footer img.footer-img {
    background-color: white;
}

footer .wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0 3.5rem;
}

footer .wrap .logo-disc-area {
    display: flex;
    border-bottom: 1px solid #d7d6d6;
    padding-bottom: 35px;
}

footer .wrap .logo-disc-area .img-wrap {
    width: 39%;
}

footer .wrap .logo-disc-area .discription {
    width: 60%;
    color: white;
    padding: 1rem 0 1rem 3rem;
    font-size: .9rem;
    letter-spacing: -1px;
}

footer .wrap .logo-disc-area .img-wrap {
    display: flex;
    justify-content: center;
}

footer .wrap .logo-disc-area .img-wrap img {
    width: 65%;
}

footer .wrap .logo-disc-area .discription {
    border-left: 1px solid white;
}

footer .wrap .footer-menu {
    display: flex;
    justify-content: center;
    color: white;
    padding: 3rem 0;
    border-bottom: 1px solid #d7d6d6;
}

footer .wrap .footer-menu ul {
    margin-left: 2rem;
}

footer .wrap .footer-menu ul li {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

footer .wrap .footer-menu ul li img {
    width: 15px;
    margin-right: 5px;
}

footer .wrap .footer-menu .service li:not(:first-child),
footer .wrap .footer-menu ul:last-child li:last-child {
    font-size: .9rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
}

footer .wrap .footer-menu ul:last-child li:last-child {
    padding-left: 0;
}

footer .wrap .copyright {
    text-align: end;
    color: white;
    margin: 1.5rem 7rem 0 auto;
    font-size: .9rem;
}

/*
 * section css 
 */
main {}

main section {
    background-color: white;
}

main section>.wrap {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5rem 0;
}

main section .shadow {
    box-shadow: 5px 5px 5px rgb(202, 202, 202);
}

main section .title {
    text-align: center;
}

main section .title .ja {
    font-weight: bold;
    color: #515151;
    margin: 0;
    line-height: 1;
    font-size: 1rem;
}

main section .title .en {
    margin: 13px 0 .5rem;
    font-size: 2.5rem;
    color: #313131;
    letter-spacing: 3px;
    line-height: 1;
}

main section .title .discription {
    font-size: 1.5rem;
}

/* max-width for each section */
body#top main section.about .wrap,
body#top main section.service .wrap {
    max-width: 1400px;
}

body#top main section .wrap {
    max-width: 950px;
}

/*
 * first section no name
 */
main section.first .wrap {
    max-width: 790px;
}

body#top main section.first .content {
    display: flex;
    background: url("../images/top/support-bg.png") bottom repeat-x;
    background-color: #f3f7f8;
}

/*
 * about
 */
main section.about .wrap .col2 {
    display: flex;
    padding: 8rem 0;
    margin: 0 auto;
}

main section.about .wrap .col2 .r-area,
main section.about .wrap .col2 .l-area {
    width: 50%;
}

main section.about .wrap .col2 .l-area .title {
    text-align: left;
}

main section.about .wrap .col2 .l-area .title .border {
    margin: 0;
    width: 100px;
}

main section.about .wrap .col2 .l-area .content p {
    line-height: 2;
}

main section.about .wrap .col2 .l-area .content .discription {
    font-size: 2rem;
    line-height: 1.5;
}

main section.about .wrap .wrap-kadai {
    width: 80%;
    margin: 0 auto;
}

main section.about .wrap .wrap-kadai h2 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-bottom: 3rem;
}

main section.about .wrap .wrap-kadai h2 .left-b,
main section.about .wrap .wrap-kadai h2 .right-b {
    display: block;
    height: 1px;
    background-color: red;
    width: 40px;
}

main section.about .wrap .wrap-kadai h2 .left-b {
    transform: rotate(45deg);
}

main section.about .wrap .wrap-kadai h2 .right-b {
    transform: rotate(135deg);
}

main section.about .wrap .wrap-kadai ul.kadai-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 3rem;
}

main section.about .wrap .wrap-kadai .kadai-list li {
    border-bottom: 2px dashed #d5d7d5;
    padding-bottom: .5rem;
    display: flex;
}

main section.about .wrap .wrap-kadai .kadai-list li img {
    width: 22px;
    margin-right: 5px;
    margin-top: -1px;
}

main section.about .wrap .our-feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 5rem;
    box-shadow: 4px 4px #dbdbdb;
    border-radius: 15px;
    max-width: 1200px;
    padding: 2rem 1rem;
    background-color: #F3F7F8;
}

main section.about .wrap .our-feature-box .title {
    border-right: 2px dashed var(--green-smork);
    width: 40%;
    text-align: left;
}

main section.about .wrap .our-feature-box .title .en {
    font-size: 1rem;
    color: var(--green-smork);
    letter-spacing: 1px;
    margin-bottom: 0px;
}

main section.about .wrap .our-feature-box .title .ja {
    font-size: 2rem;
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
}

main section.about .wrap .our-feature-box .detail {
    padding: 1rem 0 1rem 2rem;
    font-size: 1rem;
    line-height: 1.9;
}

main section.about .wrap .col3-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 0;
    box-shadow: 2px 3px 1px #dbdbdb;
}

main section.about .wrap .col3-area .point {
    border-right: 1.5px solid #d1d1d1;
    padding: 1rem;
}

main section.about .wrap .col3-area .point .title {
    width: 20%;
}

main section.about .wrap .col3-area .point p {
    font-size: 1.3rem;
    margin: 0;
    color: var(--txt-c);
}

main section.about .wrap .col3-area .point:last-child {
    border-right: none;
}

main section.about .wrap .col3-area img:first-child {
    width: 100%;
}

main section.about .wrap .col3-area img:last-child {
    width: fit-content;
}

main section.about .wrap .aboutus-contact-area {
    max-width: 700px;
    margin: 3rem auto;
}

main section.about .wrap .aboutus-contact-area p {
    text-align: center;
    font-size: 1.5rem;
}

main section.about .wrap .aboutus-contact-area .btn-area {
    display: flex;
    justify-content: space-evenly;
}

main section.about .wrap .aboutus-contact-area .btn-area button {
    width: 40%;
    margin: 0;
}

/*
 * Title:
 *  sapppro & area
 */
main section.sapppro .wrap .title,
main section.area .wrap .title {
    text-align: left;
}

/*
 * Title: eng
 */
main section.service .wrap .title .en {
    line-height: 1;
    margin: 0 auto 0;
}

main section.plan .wrap .title .en {
    line-height: 1;
    margin: 7px auto 4px;
}

main section.sapppro .wrap .title .en,
main section.area .wrap .title .en {
    line-height: 1;
    margin: .3rem auto 0;
}

/*
 * Transform: center 
 *  service & plan
 */
main section.service .wrap .title .border,
main section.plan .wrap .title .border {
    margin: 0 auto;
}

/*
 * Border:
 */
main section.service .wrap .title .border {
    width: 5%;
}

main section.plan .wrap .title .border {
    width: 11%;
    margin-top: .2rem;
}

main section .wrap .title .border {
    width: 110px;
}

/*
 * Wrapper Size
 */
main section.sapppro .wrap,
main section.area .wrap {
    max-width: 1200px;
    padding: 3rem 0;
}

body#top main section.area .wrap {
    padding: 0 0 4.5rem;
}


/*
 * plan
 */
body#top main section.plan img {
    margin: 0 auto;
    display: block;
}

main section.plan button {
    margin: 3rem auto 1rem;
}

body#top main section.plan {
    background-image: url("../images/top/plan-bg.png");
    background-size: cover;
}


/*
 * works & voices
 */
main section.works .wrap,
main section.voices .wrap {
    display: flex;
    max-width: 780px;
    padding-bottom: 2rem;
}

main section.voices .wrap .l-area,
main section.voices .wrap .r-area,
main section.works .wrap .l-area,
main section.works .wrap .r-area {
    width: 50%;
}

main section.voices .wrap .l-area .title,
main section.works .wrap .l-area .title {
    width: 30%;
    text-align: left;
}

main section.voices .wrap .r-area button,
main section.works .wrap .r-area button {
    margin-left: auto;
    width: 100%;
}

main section.voices .auto-scroll-posts {
    display: flex;
    gap: 0 27px;
    justify-content: center;
}

main section.voices .auto-scroll-posts .post,
main section.works .auto-scroll-posts .post {
    display: flex;
    flex-direction: column;
    /* min-width: 300px; */
    /* box-shadow: 0 3px 1px #C4C7C5; */
}

main section.voices .auto-scroll-posts .post .img-wrap img {
    border-left: 2px solid #C4C7C5;
    border-right: 2px solid #C4C7C5;
    border-top: 2px solid #C4C7C5;
}

main section.voices .auto-scroll-posts .post .cat-list,
main section.works .auto-scroll-posts .post .cat-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5rem .9rem;
}

main section.works .auto-scroll-posts .post .cat-list span {
    background-color: #313131;
    border-radius: 50px;
    color: whitesmoke;
    padding: .2rem .7rem;
    margin: .2rem;
    display: block;
    width: fit-content;
    font-size: .7rem;
}

main section.works .auto-scroll-posts .post .contents .cat,
main section.voices .auto-scroll-posts .post .contents .cat {
    color: red;
}

main section.works .auto-scroll-posts .post .contents p,
main section.voices .auto-scroll-posts .post .contents p {
    margin: .3rem 0 .5rem;
}


/*
 * voices
 */
main section.voices .auto-scroll-posts .post .contents {
    padding: .5rem .7rem;
}

main section.voices .auto-scroll-posts .post .contents .date {
    font-size: .9rem;
}

body#top main section.voices {
    background-color: #f3f7f8;
}


/*
 * service  
 */
main section.service {
    background: transparent;
    /* height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin; */
}

main section.service>.wrap {
    padding-bottom: 7rem;
}

main section.service .wrap .title .discription {
    margin-top: 1.5rem;
}

main section.service .wrap>.contents {
    display: flex;
}

main section.service .wrap .contents .left,
main section.service .wrap .contents .right {
    width: 50%;
    padding: 0 5rem;
}


main section.service .wrap .contents .right {
    padding: 0;
}

main section.service .wrap .contents .left {
    position: relative;
    padding: 0;
}

main section.service .wrap .contents .left .img-wrap {
    transition: all 1s;
}

main section.service .wrap .contents .left img {
    position: absolute;
    top: 2rem;
    max-width: 72%;
    padding: 2rem;
    display: block;
}

main section.service .contents .right .box {
    background-color: white;
    padding: 2rem 4.5rem;
    border-radius: 2px;
    margin: 7rem 0;
}

main section.service .contents .right .box:first-child {
    margin-top: 5rem;
}

main section.service .contents .right .box {
    position: relative;
}

main section.service .contents .right .box .wrap img {
    position: absolute;
    top: -20%;
    right: 22px;
    width: 180px;
    padding: 0;
}

main section.service .contents .right .box .title {
    text-align: left;
    font-weight: bold;
}

main section.service .contents .right .box .title .en {
    color: red;
    font-size: 20px;
    letter-spacing: 0px;
}

main section.service .contents .right .box .title .ja {
    color: #313131;
    font-size: 1.7rem;
    margin: 10px 0 1.5rem;
}

main section.service .contents .right .box .content {
    display: block;
}

main section.service .contents .right .box .content .discription {
    font-size: 1.2rem;
}

main section.service .contents .right .box .content p {
    line-height: 2;
}

main section.service .wrap .step-wrap .content .right button {
    margin: 2.5rem auto;
    width: 39%;
}

main section.service .wrap .step-wrap .content .right button .arr-right img {
    width: 100%;
    padding: 0;
}




/*
 * column
 */
main section.column {
    background-image: url("../images/top/bg-column.png");
    background-size: cover;
    background-repeat: no-repeat;
}

main section.column>.wrap {
    display: flex;
    justify-content: center;
    max-width: 1100px;
}

main section.column .wrap .l-area {
    width: 100%;
}

main section.column .wrap .l-area .title {
    display: flex;
    align-items: start;
    flex-direction: column;
}

main section.column .wrap .l-area .title .border {
    margin: 0;
    width: 120px;
}

main section.column .wrap .l-area .content {
    font-size: .9rem;
    padding-top: 1.5rem;
}

main section.column .wrap .l-area .content .discription {
    line-height: 2;
}

main section.column .wrap .l-area .content img {
    width: 50%;
    margin: 1rem auto 0 2rem;
}

/*
 * contact
 */
main section.contact {
    background-color: transparent;
}

main section.contact .wrap {
    max-width: 1200px;
    padding: 7rem 0;
}

main section.contact .wrap .title .discription {
    font-size: 1.2rem;
}

main section.contact .wrap .content {
    display: flex;
    justify-content: center;
}

main section.contact .wrap .content .tell {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
}

main section.contact .wrap .content .tell span {
    font-size: .9rem;
    font-weight: normal;
}

main section.contact .wrap .content button {
    width: 230px;
}


/*
 * sapppro & area
 */
main section.sapppro,
main section.area {}

main section.sapppro .wrap .contents {
    padding: 1rem 3rem 2.5rem;
    color: var(--txt-c);
    border-bottom: 2px solid gainsboro;
}

main section.sapppro .wrap .contents h3 {
    border-left: 5px solid var(--green-smork);
    padding-left: .5rem;
}

main section.sapppro .wrap .contents p {
    line-height: 1.7;
    font-size: .9rem;
}

main section.sapppro .wrap .contents button {
    margin: 2rem 0 0;
    background-color: white;
    border: 3px solid rgb(223, 223, 223)
}

main section.sapppro .wrap .contents button .crcle {
    margin-right: .7rem;
    margin-bottom: 2.5px;
}

main section.area .wrap .contents {
    padding-top: 2rem;
    font-size: .9rem;
}

main section.area .wrap .contents ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
}

main section.area .wrap .contents ul li a {
    color: var(--txt-c);
}


main section.sapppro .wrap .hidden-content.open,
main section.sapppro .wrap .contents button .fa-plus,
main section.sapppro .wrap .contents button.open .fa-minus {
    display: block;
}

main section.sapppro .wrap .hidden-content,
main section.sapppro .wrap .contents button.open .fa-plus,
main section.sapppro .wrap .contents button .fa-minus {
    display: none;
}

main section.sapppro .wrap .contents button .open-state-icon {
    margin-left: auto;
    margin-bottom: 1px;
}

main section.sapppro .wrap .contents .hidden-content>hr {
    border: none;
    border-top: 3px dashed gainsboro;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

main section.sapppro .wrap .contents .hidden-content ul li {
    list-style: disc;
}