/* Header */
body#top header .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body.top header .news .tag,
body.top header .news .txt {
    color: rgb(56, 56, 56);
}

body.top header .news .slag-wrap {
    display: flex;
    gap: 15px;
}


header img.mv {
    position: absolute;
    width: 50%;
    max-width: 650px;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

body#top header .scroll-navigation {
    position: absolute;
    bottom: 7%;
    left: 0%;
    color: rgb(57 56 56);
    border-bottom: 3px solid rgb(139 139 139);
    line-height: 1;
    transform: rotate(90deg);
    padding: 0 15% 1px 0;
    margin: 0;
    width: 100px;
}