/*
 * service  
 */
main section.service {
    background: transparent;
    /* height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin; */
}

main section.service .wrap .title .border {
    width: 5%;
}

main section.service>.wrap {
    padding-bottom: 7rem;
}

main section.service .wrap .title .discription {
    margin-top: 1.5rem;
}

main section.service .wrap>.contents {
    display: flex;
}

main section.service .wrap .contents .left,
main section.service .wrap .contents .right {
    width: 50%;
    padding: 0 5rem;
}


main section.service .wrap .contents .right {
    padding: 0;
}

main section.service .wrap .contents .left {
    position: relative;
    padding: 0;
}

main section.service .wrap .contents .left .img-wrap {
    transition: all 1s;
}

main section.service .wrap .contents .left img {
    position: absolute;
    top: 2rem;
    max-width: 72%;
    padding: 2rem;
    display: block;
}

main section.service .contents .right .box {
    background-color: white;
    padding: 2rem 4.5rem;
    border-radius: 2px;
    margin: 7rem 0;
}

main section.service .contents .right .box:first-child {
    margin-top: 5rem;
}

main section.service .contents .right .box {
    position: relative;
}

.top main section.service .contents .right .box:last-child {
    margin-bottom: 5rem;
}

main section.service .contents .right .box .wrap img {
    position: absolute;
    top: -20%;
    right: 22px;
    width: 180px;
    padding: 0;
}

main section.service .contents .right .box .title {
    text-align: left;
    font-weight: bold;
}

main section.service .contents .right .box .title .en {
    color: red;
    font-size: 20px;
    letter-spacing: 0px;
}

main section.service .contents .right .box .title .ja {
    color: #313131;
    font-size: 1.7rem;
    margin: 10px 0 1.5rem;
}

main section.service .contents .right .box .content {
    display: block;
}

main section.service .contents .right .box .content .discription {
    font-size: 1.2rem;
}

main section.service .contents .right .box .content p {
    line-height: 2;
}

main section.service .wrap .step-wrap .content .right button {
    margin: 2.5rem auto;
    width: 39%;
}

main section.service .wrap .step-wrap .content .right button .arr-right img {
    width: 100%;
    padding: 0;
}