/*
 * Top page: works & voices
 */
main section.works,
main section.voices {
    padding: 50px 0;
}

main section.works .wrap,
main section.voices .wrap {
    display: flex;
    max-width: 1080px;
    padding-top: 20px;
    padding-bottom: 30px;
}

main section.voices .wrap .r-area {}

main section.voices .wrap .l-area .title,
main section.works .wrap .l-area .title {
    width: 30%;
    text-align: left;
}

main section.voices .wrap .r-area,
main section.works .wrap .r-area {
    display: flex;
    justify-content: right;
    align-items: center;
}

main section.voices .wrap .r-area button,
main section.works .wrap .r-area button {
    margin-right: 0;
    width: 280px;
}

main section.voices .auto-scroll-posts {
    display: flex;
    gap: 0 27px;
    justify-content: center;
}

main section.voices .auto-scroll-posts .post,
main section.works .auto-scroll-posts .post {
    display: flex;
    flex-direction: column;
    /* min-width: 300px; */
    /* box-shadow: 0 3px 1px #C4C7C5; */
}

main section.voices .auto-scroll-posts .post .img-wrap img {
    border-left: 2px solid #C4C7C5;
    border-right: 2px solid #C4C7C5;
    border-top: 2px solid #C4C7C5;
}

main section.voices .auto-scroll-posts .post .cat-list,
main section.works .auto-scroll-posts .post .cat-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5rem .9rem;
}

main section.works .auto-scroll-posts .post .cat-list span {
    background-color: #313131;
    border-radius: 50px;
    color: whitesmoke;
    padding: .2rem .7rem;
    margin: .2rem;
    display: block;
    width: fit-content;
    font-size: .7rem;
}

main section.works .auto-scroll-posts .post .contents .cat,
main section.voices .auto-scroll-posts .post .contents .cat {
    color: red;
}

main section.works .auto-scroll-posts .post .contents p,
main section.voices .auto-scroll-posts .post .contents p {
    margin: .3rem 0 .5rem;
}


/*
 * voices
 */
main section.voices .auto-scroll-posts .post .contents {
    padding: .5rem .7rem;
}

main section.voices .auto-scroll-posts .post .contents .date {
    font-size: .9rem;
}

body#top main section.voices {
    background-color: #f3f7f8;
}