@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nuxt-border-color: #00dc824d !important;
  --nuxt-background-color: #b3f5d166 !important;
}
.news {
  border-width: 1px;
  border-style: solid;
  border-color: var(--nuxt-border-color);
  border-radius: 999px;
  background-color: var(--nuxt-background-color);
  padding: 0.1rem 1rem;
  font-size: 0.75rem;
}

.nav-link {
  padding: 0.75rem;
  border-radius: 0.25rem;
}
.nav-link:hover {
  background-color: rgb(125 211 252);
  color: white;
  opacity: 0.7;
}

.anime-slideX {
  width: 100vw;
  border: solid;
  color: #34d399;
  animation-name: moveX;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}
@keyframes moveX {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100vw);
  }
}
@layer components {
  .prose a:hover {
    @apply underline decoration-dashed;
  }
}
