@tailwind base;
@tailwind components;
@tailwind utilities;

.moveX {
  width: 100vw;
  border: solid;
  color: #34d399;
  animation-name: moveX;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}
@keyframes moveX {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100vw);
  }
}
@layer components {
  .prose a:hover {
    @apply underline decoration-dashed;
  }
}
