button{
    border: none;
    border-radius:5px;
}
a {
    text-decoration: unset;
}
ul {
    list-style-type: none;
}


main .container {
    border-radius:5px;
    border:1px solid #ffeaea9c;
    padding:1rem;
}

.base-btn {
    background-color: white;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #e6f5fd;
    box-shadow: 0.5px 1px #bde1e18c;
    text-decoration: none;
    color:black
}
.base-btn:hover {
    opacity: .8;
}
