button{
    border: none;
    border-radius:5px;
}
a {
    text-decoration: unset;
}
a:hover {
    opacity: .8;
}
ul {
    list-style-type: none;
}

/* single post */
main .container .post h1 {
    margin-bottom: 1.5rem;
}
main .container .post-body h3 {
    border-bottom: 3px solid #c1c1c1;
}

main .container {
    border-radius:5px;
    border:1px solid #ffeaea9c;
    padding:1rem;
}
main .container .posts li a {
    color: #334155;
}

.base-btn {
    background-color: white;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #e6f5fd;
    box-shadow: 0.5px 1px #bde1e18c;
    text-decoration: none;
    color:black
}
.base-btn:hover {
    opacity: .8;
}
