/*
 *  News in header
 */

body.top header .news {
    min-width: 700px;
    padding: 13px 15px;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 5px rgb(160, 161, 160);
    font-size: .9rem;
    background-color: white;
}

body.top header .news ul li .img-wrap {
    width: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-45%);
}

body.top header .news ul {
    padding: 0;
    position: relative;
}

body.top header .news ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

body.top header .news .tag {
    font-size: 1.2em;
    font-weight: bold;
}

body.top header .news .txt {
    font-weight: bold;
}

body.top header .news .cat {
    color: brown;
}

body.top header .news ul li span {
    margin-left: .5rem;
}

@media screen and (max-width: 640px) {
    body.top header .news {
        min-width: auto !important;
        width: 82% !important;
        bottom: 30px !important;
        transform: translateX(-45%) !important;
    }

    body.top header .news ul {
        margin: 0;
    }

    .top header .news ul li>div,
    .top header .news ul li span {
        width: 100%;
        margin: 0;
    }

    .top header .news .txt-wrap {
        display: flex;
        align-items: center;
    }

    .top header .news .txt-wrap .arr {
        margin: 0 !important;
        margin-left: auto !important;
    }

    body.top header .news ul li {
        flex-direction: column;
        align-items: start !important;
    }

    body.top header .news .slag-wrap {
        display: flex;
        align-items: center;
        gap: 0px 15px;
    }

    body.top header .news .slag-wrap .date {
        font-size: 12px;
    }

    body.top header .news .txt {
        font-size: 13px;
    }

    body.top header .news ul li .img-wrap {
        bottom: 0;
        top: auto;
        transform: translateY(0%);
    }
}